.dotted {
    border: 1px dotted #ff0000;
}

// primary rgb: 33 147 243
// primary-alt rgb: new #ff7B22 (old: 233 80 15 #ff5722)
// material design darker organe #FF3D00
$theme-colors: ( "primary": #2193f3, "primary-alt":#ff7B22, "grey-alt":#F5F5F5, "grey-alt2":#444444);
$carousel-indicator-active-bg: #ff7B22;
$carousel-control-color: #ff7B22;
$enable-rounded: false;
@import "../../node_modules/bootstrap/scss/bootstrap";
.svg-color {
    color: #6e6e6e; //110 110 110
}

.dcarousel-control-next {
    width: 100%;
}

.svg-primary {
    color: theme-color("primary");
}

.svg-primary-alt {
    color: theme-color("primary-alt");
}

.bg-primary-alt {
    background-color: theme-color("primary-alt") !important;
}

.text-primary-alt {
    color: theme-color("primary-alt");
}

.text-module-title {
    @extend .display-3,
    .text-center;
    font-weight: 500;
    span {
        //@extend .ml-5;
        color: #1067c2;
        font-style: italic;
    }
}

.bg-grey-alt {
    background-color: theme-color("grey-alt") !important;
}

.bg-grey-alt2 {
    background-color: theme-color("grey-alt2") !important;
}

$primary-light:lighten(theme-color("primary"), 5%);
.bg-primary-light {
    background-color: $primary-light !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px; // padding-bottom: 0px;
    margin-bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    // height: 60px;
    // background-color: #f5f5f5;
}

.alert-fixed {
    position: fixed;
    bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px;
    display: none;
    text-align: center;
}

.alert-content {
    display: inline-block;
    text-align: left;
}

// .blend-car {
//     position: relative;
//     top: 15%;
//     left: 55%;
//     height: 350px;
//     mix-blend-mode: multiply;
// }
.main-jumbotron {
    margin-bottom: 0px;
    /*background: linear-gradient(to bottom,  darken(theme-color("primary"), 25%), theme-color("primary"));*/
    // background-image: url(../resources/BlueJumbotron.svg);
    background-image: url('../resources/BlueJumbotron.svg');
    background-blend-mode: multiply;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

@include media-breakpoint-up(lg) {
    .main-jumbotron {
        margin-bottom: 0px;
        /*background: linear-gradient(to bottom,  darken(theme-color("primary"), 25%), theme-color("primary"));*/
        // background-image: url(../resources/BlueJumbotron.svg);
        background-image: url('../resources/BlueJumbotron.svg'), url('../resources/generic racecar.png');
        background-blend-mode: multiply;
        background-position: 0% 25%, 90% 5%;
        background-size: cover, 650px;
        background-repeat: no-repeat;
    }
}

@include media-breakpoint-down(md) {
    .jumbotron,
    .jumbo-fluid {
        .display-3 {
            font-size: 2.5rem !important;
        }
    }
}

.main-jumbotron4 {
    margin-bottom: 0px;
    background-image: url(../resources/BlueJumbotron4.svg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-header {
    @extend .h2;
    margin-bottom: 0;
}

.sub-header {
    max-width: 450px;
}

.jumbotron-orange {
    margin-bottom: 0px;
    background-image: url(../resources/OrangeJumbotron.svg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

$shadow-color: #3f3f3f;
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px $shadow-color;
    -moz-box-shadow: 0 8px 6px -6px $shadow-color;
    box-shadow: 0 8px 6px -6px $shadow-color;
    li {
        white-space: nowrap
    }
    li.active-primary>a {
        color: theme-color("primary") !important;
    }
}

.nav-link {
    padding: 0;
}

.nav-link-large {
    @extend .nav-link;
    @extend .text-dark;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.7em;
    margin: 0 0.1em;
    padding: 0;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
    color: theme-color("primary") !important;
}

.navbar-nav>li>.dropdown-menu>.dropdown-item.active,
.dropdown-item:active {
    background-color: theme-color("primary")!important;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}


/* Orange Button */

$darkOrange:darken(theme-color("primary-alt"),
5%);
.btn-second {
    color: #fff;
    background-color: theme-color("primary-alt");
    border-color: $darkOrange;
}

.btn-second:hover {
    color: #fff;
    background-color: $darkOrange;
    border-color: $darkOrange;
}

.btn-second:focus,
.btn-second.focus {
    box-shadow: 0 0 0 0.2rem rgba(theme-color("primary-alt"), 0.5);
}

.btn-second.disabled,
.btn-second:disabled {
    background-color: $darkOrange;
    border-color: $darkOrange;
}

.btn-second:not([disabled]):not(.disabled):active,
.btn-second:not([disabled]):not(.disabled).active,
.show>.btn-second.dropdown-toggle {
    color: #fff;
    background-color: $darkOrange;
    border-color: $darkOrange;
    box-shadow: 0 0 0 0.2rem rgba(theme-color("primary-alt"), 0.5);
}


/* div plus sign */

.div-next::after {
    content: url("/resources/div-chevron-icon.png");
    width: 100px;
    height: 100px;
    position: relative;
    top: 50px;
    z-index: 1;
    left: 50%;
    margin-left: -50px;
}

.div-plus::after {
    content: url("/resources/div-plus-icon.png");
    width: 100px;
    height: 100px;
    position: relative;
    top: 50px;
    z-index: 1;
    left: 50%;
    margin-left: -50px;
}

.vertical-line {
    content: "";
    position: relative;
    z-index: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    left: 50%;
    border-left: 2px dotted;
    color: #6e6e6e;
}

@include media-breakpoint-up(md) {
    // .left-border {
    //     //border-left: 2px dotted;
    // }
    .left-border:after {
        content: ""; //background: rgb(255, 255, 255); 
        border-left: 2px dotted;
        position: absolute;
        bottom: 3rem;
        top: 3rem;
        left: 0; //height: 100%; 
        width: 2px;
    }
}


/* large product diagram */

.product-diagram {
    $itemWidth: 220px;
    $itemHeight: 65px;
    $itemPadding: 10px;
    $hlineLength: 35px;
    $grey: #555;
    $lightGrey: #888;
    $scale: 1;
    .scale {
        -ms-transform: scale($scale, $scale);
        /* IE 9 */
        -webkit-transform: scale($scale, $scale);
        /* Safari */
        transform: scale($scale, $scale);
    }
    .mycol {
        display: flex;
        flex-flow: column;
    }
    .header-placeholder {
        display: flex;
        height: $itemHeight + 10px;
    }
    .header {
        display: flex;
        height: $itemHeight + 10px;
    }
    .header-content {
        border: 2px solid theme-color("primary-alt");
        background: theme-color("primary-alt");
        color: #fff;
        width: $itemWidth;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        line-height: $itemHeight - 2*$itemPadding - 10px;
    }
    .header-content-alt {
        @extend .header-content;
        border: 2px solid theme-color("primary");
        background: theme-color("primary");
        margin-left: $hlineLength;
    }
    .item {
        display: flex;
        width: $itemWidth +52px;
        width: auto;
        height: $itemHeight;
    }
    .item-content {
        width: $itemWidth;
        border: 2px solid theme-color("primary-alt");
        height: $itemHeight - 2*$itemPadding;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        line-height: $itemHeight - 2*$itemPadding - 10px;
    }
    #right-side .item-content {
        border: 2px solid theme-color("primary");
    }
    .item-padding {
        padding-top: $itemPadding;
        padding-bottom: $itemPadding;
    }
    .item-content-info {
        width: 270px;
        padding: 5px;
        border: 1px solid $lightGrey;
        color: $lightGrey;
    }
    .hline {
        height: 2px;
        width: $hlineLength;
        background: $grey;
        align-self: center;
    }
    .hline-alt {
        height: 1px;
        width: $hlineLength;
        background: $lightGrey;
        align-self: center;
    }
    .vline {
        width: 2px;
        background: $grey;
    }
    .vline-top {
        width: 2px;
        background: $grey;
        transform: translateY($itemHeight/2-1)
    }
    .vline-bot {
        width: 2px;
        background: $grey;
        transform: translateY(-($itemHeight/2-1))
    }
    .connector {
        height: 2px;
        width: 60px;
        background: $grey;
        align-self: center;
    }
    .server {
        border-radius: 25px;
        border: 2px solid theme-color("primary-alt");
        background: theme-color("primary");
        width: 180px;
        height: 150px;
        line-height: 150px;
        text-align: center;
    }
}

.carousel ol li {
    cursor: pointer;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

#runsheet-benefits .fa-plus {
    font-size: 1.5em;
    color: theme-color("primary");
}

#platform-benefits .fa-plus {
    font-size: 1.5em;
    color: theme-color("primary-alt");
}

.modal-large {
    display: table;
    top: 0.5rem * 2;
    width: auto !important;
    margin: auto !important;
    max-width: 80%;
}

.chrome-blur-fix {
    image-rendering: -webkit-optimize-contrast;
}