@import "../../node_modules/bootstrap/scss/bootstrap";
// primary rgb: 33 147 243
// alt-primary rgb: 233 80 15
$theme-colors: ( "primary": #2193f3, "alt-primary":#e9500f);
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    padding-bottom: 0px;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.main-jumbotron {
    margin-bottom: 0px;
    background-image: url(../resources/BlueTileBg.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

$shadow-color: #3f3f3f;
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px $shadow-color;
    -moz-box-shadow: 0 8px 6px -6px $shadow-color;
    box-shadow: 0 8px 6px -6px $shadow-color;
  
    li {
        white-space: nowrap
    }
}

.btn-second {
    color: #fff;
    background-color: theme-color("alt-primary");
    border-color: darken(theme-color("alt-primary"), 10%);
}

.btn-second:hover {
    color: #fff;
    background-color: darken(theme-color("alt-primary"), 10%);
    border-color: darken(theme-color("alt-primary"), 10%);
}

.btn-second:focus,
.btn-second.focus {
    box-shadow: 0 0 0 0.2rem rgba(theme-color("alt-primary"), 0.5);
}

.btn-second.disabled,
.btn-second:disabled {
    background-color: darken(theme-color("alt-primary"), 10%);
    border-color: darken(theme-color("alt-primary"), 10%);
}

.btn-second:not([disabled]):not(.disabled):active,
.btn-second:not([disabled]):not(.disabled).active,
.show>.btn-second.dropdown-toggle {
    color: #fff;
    background-color: darken(theme-color("alt-primary"), 10%);
    border-color: darken(theme-color("alt-primary"), 10%);
    box-shadow: 0 0 0 0.2rem rgba(theme-color("alt-primary"), 0.5);
}

// @import "../../node_modules/bootstrap/scss/bootstrap";
// .brand-lg-image {
//     display: none;
// }
// @include media-breakpoint-up(lg) {
//     .brand-xs-image {
//         display: none;
//     }
//     .brand-lg-image {
//         display: block;
//     }
// }
// @include media-breakpoint-only(xs) { ... }
// @include media-breakpoint-only(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-only(lg) { ... }
// @include media-breakpoint-only(xl) { ... }
// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";
// Optional
// @import "../../node_modules/bootstrap/scss/reboot";
// @import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/images";
// @import "../../node_modules/bootstrap/scss/code";
// @import "../../node_modules/bootstrap/scss/grid";