$theme-colors: ( "primary": #2193f3, );
body {
    padding-top: 60px;
    padding-bottom: 0px
}

.main-jumbotron {
    margin-bottom: 0px;
    background-image: url(../resources/BlueTileBg.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

$shadow-color: #3f3f3f;
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px $shadow-color;
    -moz-box-shadow: 0 8px 6px -6px $shadow-color;
    box-shadow: 0 8px 6px -6px $shadow-color;
    /* the rest of your styling */
}

@media screen and (min-width: 768px) {
	
	#exampleModal .modal-dialog  {width:90%;}

}
// 233 80 15
$color-second: #e9500f;
$color-second2: #eb4600;
.btn-second {
    color: #fff;
    background-color: $color-second;
    border-color: $color-second;
}

.btn-second:hover {
    color: #fff;
    background-color: $color-second2;
    border-color: $color-second2;
}

.btn-second:focus,
.btn-second.focus {
    box-shadow: 0 0 0 0.2rem rgba(233, 80, 15, 0.5);
}

.btn-second.disabled,
.btn-second:disabled {
    background-color: $color-second;
    border-color: $color-second;
}

.btn-second:not([disabled]):not(.disabled):active,
.btn-second:not([disabled]):not(.disabled).active,
.show>.btn-second.dropdown-toggle {
    color: #fff;
    background-color: $color-second;
    border-color: $color-second;
    box-shadow: 0 0 0 0.2rem rgba(233, 80, 15, 0.5);
}

//   // Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";
// // Optional
// @import "../../node_modules/bootstrap/scss/reboot";
// @import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/images";
// @import "../../node_modules/bootstrap/scss/code";
// @import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/bootstrap";
// .navbar {
//   min-height: 80px;
// }
// .navbar-brand {
//   padding: 0 15px;
//   height: 80px;
//   line-height: 80px;
// }
// .navbar-toggle {
//   /* (80px - button height 34px) / 2 = 23px */
//   margin-top: 23px;
//   padding: 9px 10px !important;
// }
// @media (min-width: 768px) {
//   .navbar-nav > li > a {
//     /* (80px - line-height of 27px) / 2 = 26.5px */
//     padding-top: 26.5px;
//     padding-bottom: 26.5px;
//     line-height: 27px;
//   }
// }